<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Riffs{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/riffs.css') }}">
{% endblock %}

{% block content %}

    <div class="container">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="{{ url_for('riffs', riff_type='all') }}">All</a></li>
          <li role="presentation"><a href="{{ url_for('riffs', riff_type='griff') }}">Guitar</a></li>
          <li role="presentation"><a href="{{ url_for('riffs', riff_type='briff') }}">Bass</a></li>
          <li role="presentation"><a href="{{ url_for('riffs', riff_type='driff') }}">Drum</a></li>
        </ul>
        <div class="row">
            {% for griff in riffs.griff %}
                <div class="col-lg-3">
                    <div class="panel panel-default" style="max-height: 500px; overflow: scroll;">
                      <div class="panel-heading">
                          <h3>Guitar Riff {{ griff.num }}</h3>
                      </div>
                      <ul class="list-group">
                          <li class="list-group-item">
                              <h4>Length: {{ griff.length }}</h4>
                          </li>
                          <li class="list-group-item">
                               <h4 class="list-group-item-heading" >
                                   Degrees & Types:
                               </h4>
                                {% for degree_and_type in griff.degrees_and_types %}
                                  <button class="btn btn-sm" type="button">
                                      {{ degree_and_type.0 }} <span class="badge">{{ degree_and_type.1 }}</span>
                                  </button>
                                {% endfor %}
                          </li>
                          <li class="list-group-item">
                              <h4 class="list-group-item-heading">
                                  Timestamps:
                              </h4>
                              {% for timestamp in griff.time_stamps %}
                                  <button class="btn btn-sm" type="button">
                                      {{ timestamp }}
                                  </button>
                              {% endfor %}
                          </li>
                          <li class="list-group-item">
                            <div class="btn-group" role="group">
                              <button type="button" id="edit" class="btn btn-primary">Edit</button>
                              <button type="button" id="delete" class="btn btn-danger">Delete</button>
                            </div>
                          </li>
                      </ul>

                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for briff in riffs.briff %}
                <div class="col-lg-3">
                    <div class="panel panel-default" style="max-height: 500px; overflow: scroll;">
                      <div class="panel-heading">
                          <h3>Bass Riff {{ briff.num }}</h3>
                      </div>
                      <ul class="list-group">
                          <li class="list-group-item">Length: {{ briff.length }}</li>
                          <li class="list-group-item">
                               <h4 class="list-group-item-heading" >Degrees & Types:</h4>
                                {% for degree_and_type in briff.degrees_and_types %}
                                  <button class="btn btn-sm" type="button">
                                      {{ degree_and_type.0 }} <span class="badge">{{ degree_and_type.1 }}</span>
                                  </button>
                                {% endfor %}
                          </li>
                          <li class="list-group-item">
                              <h4 class="list-group-item-heading">Timestamps:</h4>

                              {% for timestamp in briff.time_stamps %}
                                  <button class="btn btn-sm" type="button">
                                      {{ timestamp }}
                                  </button>
                              {% endfor %}
                          </li>
                          <li class="list-group-item">
                            <div class="btn-group" role="group">
                              <button type="button" id="edit" class="btn btn-primary">Edit</button>
                              <button type="button" id="delete" class="btn btn-danger">Delete</button>
                            </div>
                          </li>
                      </ul>

                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for driff in riffs.driff %}
                <div class="col-lg-3">
                    <div class="panel panel-default" style="max-height: 500px; overflow: scroll;">
                      <div class="panel-heading">
                          <h3>Drum Riff {{ driff.num }}</h3>
                      </div>
                      <ul class="list-group">
                          <li class="list-group-item">Length: {{ driff.length }}</li>

                          <li class="list-group-item">
                              <h4 class="list-group-item-heading">Patterns:</h4>

                              {% for type, pattern in driff.patterns.items() %}
                                  <p>{{ type }}: {{ pattern }}</p>
                              {% endfor %}
                          </li>
                          <li class="list-group-item">
                            <div class="btn-group" role="group">
                              <button type="button" id="edit" class="btn btn-primary">Edit</button>
                              <button type="button" id="delete" class="btn btn-danger">Delete</button>
                            </div>
                          </li>
                      </ul>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
