{% extends "bootstrap/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="icon" href="{{ url_for('static', filename='falvicon.ico') }}" >

    {% block head %}
        {{ super() }}
        <meta charset="UTF-8">
    {% endblock %}
</head>

<body>
{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Navbar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">RiffGAN</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('riffs.get_riffs', riff_type='griff') }}">Riffs</a></li>
                    <li><a href="{{ url_for('phrases.get_phrases', phrase_type='rhythm_guitar_phrase') }}">Phrases</a></li>
                    <li><a href="{{ url_for('tracks.get_tracks') }}">Tracks</a></li>
                    <li><a href="{{ url_for('song.get_song') }}">Song</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>



