<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Welcome to RiffGAN! {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Error!</strong> {{ error }}
    </div>
    {% endif %}

    <div class="container-fluid align-center">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to RiffGAN!</h1>
                     <p class="lead">Using this website to create your very own rock'n'roll music!</p>

                    <div class="row" style="margin-top: 100px">
                        <div class="col-md-offset-3 col-md-3">
                            <form method="post" action="{{ url_for('song.new_song') }}">
                                <input type="submit" id="delete" class="btn-lg btn-default" value="New" style="">
                             </form>
                        </div>
                        <div class="col-md-3">
                              <div class="btn-group btn-group-justified" role="group" style="padding-left: 10px; padding-right: 20px;">
                                  <button class="btn-lg btn-primary" data-toggle="modal" data-target="#open_song_modal" role="button">Open</button>
                              </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="open_song_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="align-content: center">
                <div class="modal-content" style="align-content: center">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" id="myModalLabel">Open Song</h3>
                    </div>

                <form method="post" action="{{ url_for('song.open_song')}}">
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="form-group">
                                    <h4><label for="open_name_input" style="font-weight: normal">Name</label></h4>
                                    <input type="text" class="form-control" placeholder="Name"
                                           id="open_name_input" name="open_name_input">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="btn-group btn-group-justified" role="group" style="margin-top: 20px">
                            <div class="btn-group btn-group-justified" role="group"
                                style="padding-left: 25px; padding-right: 15px">
                               <input class="btn btn-primary" type="submit" value="Save">
                            </div>
                            <div class="btn-group btn-group-justified" role="group"
                                style="padding-left: 15px; padding-right: 25px">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                </form>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
      </div>

{% endblock %}