<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Welcome to RiffGAN! {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Error!</strong> {{ error }}
    </div>
    {% endif %}

    <div class="container-fluid align-center">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="jumbotron">
                    <h1 class="display-4">Welcome to RiffGAN!</h1>
                     <p class="lead">Using this website to create your very own rock'n'roll music!</p>

                    <div class="row" style="margin-top: 100px">
                        <div class="col-md-offset-2 col-md-4">
                            <form method="post" action="{{ url_for('song.new_song') }}">
                                <input type="submit" id="delete" class="btn-lg btn-default" value="New" style="">
                             </form>
                        </div>
                        <div class="col-md-4">
                              <div class="btn-group btn-group-justified" role="group" style="padding-left: 10px; padding-right: 20px;">
                                  <button class="btn-lg btn-primary" data-toggle="modal" data-target="#open_song_modal" role="button">Open</button>
                              </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="open_song_modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" style="align-content: center">
                <div class="modal-content" style="align-content: center">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title" id="myModalLabel">Open Song</h3>
                    </div>

                    <div class="modal-body">

                        <ul class="list-group">
                            {% for song in existed_songs %}
                              <li class="list-group-item">
                                  <div class="row">
                                      <div class="col-md-8">
                                          <h4>{{ song.name }}</h4>
                                      </div>
                                      <div class="col-md-4">
                                          <div class="btn-group btn-group-justified" role="group">
                                              <div class="btn-group btn-group-justified" role="group" style="padding-right: 10px; padding-left:  10px">
                                                  <form method="post" action="{{ url_for('open_song', song_name=song.name) }}">
                                                      <input type="submit" id="load" class="btn btn-primary" value="Load" style="margin-bottom: 5px">
                                                  </form>
                                              </div>
                                              <div class="btn-group btn-group-justified" role="group" style="margin-right: 10px; margin-left:  10px">
                                                  <form method="post" action="{{ url_for('delete_song', song_name=song.name) }}">
                                                      <input type="submit" id="delete" class="btn btn-danger" value="Delete" style="margin-bottom: 5px">
                                                  </form>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </li>
                            {% endfor %}
                        </ul>

                        <div class="modal-footer">
                            <div class="btn-group btn-group-justified" role="group" style="margin-top: 20px">
                            <div class="btn-group btn-group-justified" role="group"
                                style="padding-left: 15px; padding-right: 25px">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
      </div>

{% endblock %}