<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
<head>
    <meta charset="UTF-8">
    <title>Phrases</title>
</head>
<body>
{% block content %}
    <div class="container">
        <div class="card-deck">
            <div class="row">
                {% for phrase in phrases.rhythm_phrases %}
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                          <div class="panel-heading">Rhythm Phrase {{ phrases.num }}</div>
                          <ul class="list-group">
                              <li class="list-group-item" id="length">Length: {{ phrase.length }}</li>
                              <li class="list-group-item" id="tonality">Tonality: {{ phrase.tonality }}</li>
                              <li class="list-group-item" id="bpm">BPM: {{ phrase.bpm }}</li>
                              <li class="list-group-item" id="instr_type">Instrument type: {{ phrase.instr_type }}</li>
                          </ul>
                          <div class="panel-footer">
                            <div class="btn-group" role="group" aria-label="...">
                              <button type="button" id="edit" class="btn btn-primary">Edit</button>
                              <button type="button" id="delete" class="btn btn-danger">Delete</button>
                            </div>
                          </div>
                        </div>
                    </div>
                {% endfor %}

                {% for phrase in phrases.drum_phrases %}
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                          <div class="panel-heading">Drum Phrase {{ phrase.num }}</div>
                          <ul class="list-group">
                              <li class="list-group-item" id="length">Length: {{ phrase.length }}</li>
                              <li class="list-group-item" id="bpm">BPM: {{ phrase.bpm }}</li>
                          </ul>
                          <div class="panel-footer">
                            <div class="btn-group" role="group" aria-label="...">
                              <button type="button" id="edit" class="btn btn-primary">Edit</button>
                              <button type="button" id="delete" class="btn btn-danger">Delete</button>
                            </div>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>