<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Song{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Error!</strong> {{ error }}
    </div>
    {% endif %}

    <div class="container-fluid align-center">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">

            <div class="panel panel-default">
              <div class="panel-heading">
                  <div class="row">
                      <div class="col-md-10">
                          <h2>Song {{ song.name }}</h2>
                      </div>

                      <div class="col-md-2" style=''>
                          <div class="btn-group btn-group-justified" role="group"
                               style="padding-left: 10px; padding-right: 20px;">
                              <button type="button" id="edit" class="btn btn-primary" data-toggle="modal" data-target=edit_song_modal">Edit</button>
                          </div>

                      <div class="modal fade" id="edit_song_modal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" style="align-content: center">
                            <div class="modal-content" style="align-content: center">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 class="modal-title" id="myModalLabel">Edit Song</h3>
                                </div>

                                <form method="post" action="{{ url_for('song.edit_song')}}">
                                    <div class="modal-body">

                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="form-group">
                                                    <h4><label for="edit_name_input" style="font-weight: normal">Name</label></h4>
                                                    <input type="text" class="form-control" value="{{ song.name }}"
                                                           id="edit_name_input" name="edit_name_input">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="form-group">
                                                    <h4><label for="edit_songwriter_input" style="font-weight: normal">Name</label></h4>
                                                    <input type="text" class="form-control" value="{{ song.songwrite }}"
                                                           id="edit_songwriter_input" name="edit_songwriter_input">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <div class="form-group">
                                                    <h4><label for="edit_genre_input" style="font-weight: normal">genre</label></h4>
                                                    <select class="form-control" id="edit_genre_input" name="edit_genre_input">
                                                        {% for genre in genres_list%}
                                                            {% if genre == song.genre %}
                                                                <option value={{ genre }} selected="selected">{{ genre }}</option>
                                                            {% else %}
                                                                <option value={{ genre }}>{{ genre }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <div class="btn-group btn-group-justified" role="group" style="margin-top: 20px">
                                            <div class="btn-group btn-group-justified" role="group"
                                                style="padding-left: 25px; padding-right: 15px">
                                               <input class="btn btn-primary" type="submit" value="Save">
                                            </div>
                                            <div class="btn-group btn-group-justified" role="group"
                                                style="padding-left: 15px; padding-right: 25px">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </form>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                      </div>
                                                </div>

                  </div>
              </div>

                <ul class="list-group">
                  <li class="list-group-item">
                      <h4 class="list-group-item-heading" style="padding: 5px">
                          Songwriter: {{ song.songwriter }}
                      </h4>
                  </li>

                    <li class="list-group-item">
                      <h4 class="list-group-item-heading" style="padding: 5px">
                          Genre: {{ song.genre }}
                      </h4>
                  </li>
                </ul>

                <form method="post" action="{{ url_for('song.play_song') }}">
                    <ul class="list-group" style="margin: 10px">
                        <h4 class="list-group-item-heading" style="padding: 8px">
                              Tracks:
                          </h4>
                        {% for track in song.tracks %}
                          <li class="list-group-item">
                          <div class="row">
                              <div class="col-md-8" style="padding-left: 40px">
                                  <h4 class="list-group-item-heading">
                                      Track {{ track.name }}
                                  </h4>
                              </div>
                              <div class="col-lg-offset-3 col-md-1" style="margin-right: 0">
                                  <label for="{{ "include_track_%d" % loop.index }}"></label>

                                  <input type="checkbox" id="{{ "include_track_%d" % loop.index }}"
                                         name="include_track" value="{{ loop.index }}" checked="checked">
                              </div>
                          </div>
                          </li>
                        {% endfor %}
                    </ul>

                      <div class="row">
                          <div class="col-md-offset-4 col-md-4" style="text-align: center">
                              <input type="submit" id="play" class="btn btn-default" value="Play" style="margin-bottom: 5px">
                          </div>
                      </div>
                </form>

                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-offset-4 col-md-4" style="text-align: center">
                         <form method="post" action="{{ url_for('song.stop_song') }}">
                              <input type="submit" id="stop" class="btn btn-default" value="Stop">
                          </form>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>

{% endblock %}