<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Tracks</title>
</head>
{% block content %}
    <div class="container">
        <div class="card-deck">
            <div class="row">
                {% for track in tracks %}
                    <div class="col-lg-3">
                        <div class="panel panel-default">
                          <div class="panel-heading">Track: {{ track.name }}</div>
                          <ul class="list-group">
                              <li class="list-group-item" id="is_drum">Is Drum: {{ track.is_drum }}</li>
                          </ul>
                          <div class="panel-footer">
                            <div class="btn-group" role="group" aria-label="...">
                              <button type="button" id="edit" class="btn btn-primary">Edit</button>
                              <button type="button" id="delete" class="btn btn-danger">Delete</button>
                            </div>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
<body>

</body>
</html>