<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}Rhythm Bass Phrases - RiffGAN{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
    {% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Error!</strong> {{ error }}
    </div>
    {% endif %}
    <div class="container-fluid align-center">
        <ul class="nav nav-tabs nav-justified" style="padding-left: 400px; padding-right: 400px;">
            <li role="presentation"><a href="{{ url_for('phrases.get_phrases', phrase_type='rhythm_guitar_phrase') }}">Rhythm Guitar Phrases</a></li>
            <li role="presentation" class="active"><a href="{{ url_for('phrases.get_phrases', phrase_type='rhythm_bass_phrase') }}">Rhythm Bass Phrases</a></li>
            <li role="presentation"><a href="{{ url_for('phrases.get_phrases', phrase_type='drum_phrase') }}">Drum Phrases</a></li>
        </ul>

        <div class="row" style="margin-top: 15px; margin-left: 40px; margin-right: 40px">
            {% for phrase in phrases %}
                <div class="col-md-3">
                    <div class="panel panel-default" style="max-height: 570px; min-height: 570px; overflow: scroll;">

                      <div class="panel-heading">
                          <div class="row">
                              <div class="col-md-10">
                                  <h3>Rhythm Bass Phrase {{ phrase.no }}</h3>
                              </div>
                              <div class="col-md-2" style=''>
                                  <div class="row">
                                      <form method="post" action="{{ url_for('phrases.play_phrase', phrase_type=phrase_type, index=loop.index) }}">
                                          <input type="submit" id="play" class="btn btn-default" value="Play" style="margin-bottom: 5px">
                                      </form>
                                  </div>
                                  <div class="row">
                                      <form method="post" action="{{ url_for('phrases.stop_phrase', phrase_type=phrase_type) }}">
                                          <input type="submit" id="stop" class="btn btn-default" value="Stop">
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>

                        <ul class="list-group">
                          <li class="list-group-item">
                              <h4>Length: {{ phrase.length }}</h4>
                          </li>
                          <li class="list-group-item">
                              <h4>BPM: {{ phrase.bpm }}</h4>
                          </li>
                          <li class="list-group-item">
                              <h4>Tonality: {{ phrase.tonality.0 }} {{ phrase.tonality.1 }}</h4>
                          </li>
                           <li class="list-group-item">
                              <h4>Instrument: {{ phrase.instr_str }}</h4>
                          </li>
                          <li class="list-group-item">
                              <h4 class="list-group-item-heading">
                                  Used Riffs:
                              </h4>
                              {% for riff in phrase.riffs_no %}
                                  <button class="btn" type="button"
                                          style="
                                          height: 30px; width: 50px; border-radius: 13px; padding: 2px; margin: 2px">
                                      {{ riff.display }}{{ riff.no }}
                                  </button>
                              {% endfor %}
                          </li>
                          <li class="list-group-item">
                               <h4 class="list-group-item-heading" >
                                   Arrangement:
                               </h4>
                                {% for arrangement in phrase.arrangements %}
                                  <button class="btn degree_type_btn" type="button"
                                          style="
                                          height: 30px; width: 50px; border-radius: 13px; padding: 2px; margin: 2px">
                                      {{ arrangement.0 }} {{ arrangement.1 }}
                                  </button>
                                {% endfor %}
                          </li>
                      </ul>

                        <div class="panel-footer"  style="align-content: center">
                            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                                <div class="btn-group btn-group-justified" role="group"
                                    style="padding-left: 10px; padding-right: 20px;">
                                  <button type="button" id="edit" class="btn btn-primary" data-toggle="modal" data-target="#{{ "edit_phrase%d_modal" % loop.index}}" >Edit</button>
                                </div>

                                <div class="btn-group btn-group-justified" role="group"
                                     style="padding-left: 20px; padding-right: 10px;">
                                    <form method="post" action="{{ url_for('phrases.delete_phrase', phrase_type=phrase_type, index=loop.index) }}">
                                        <input type="submit" id="delete" class="btn btn-danger" value="Delete">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="{{ "edit_phrase%d_modal" % loop.index}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" style="align-content: center">
                        <div class="modal-content" style="align-content: center">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h3 class="modal-title" id="myModalLabel">Edit Rhythm Bass Phrase {{ phrase.no }}</h3>
                            </div>

                            <form method="post" action="{{ url_for('phrases.edit_phrase', phrase_type=phrase_type, index=loop.index )}}">
                                <div class="modal-body">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <div class="form-group">
                                                <h4><label for="edit_length_input" style="font-weight: normal">Length</label></h4>
                                                <input type="text" class="form-control" value="{{ phrase.length }}"
                                                       id="edit_length_input" name="edit_length_input">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <div class="form-group">
                                                <h4><label for="edit_bpm_input" style="font-weight: normal">BPM</label></h4>
                                                <input type="text" class="form-control" value="{{ phrase.bpm }}"
                                                       id="edit_bpm_input" name="edit_bpm_input">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <div class="form-group">
                                                <h4><label for="edit_tonality_input" style="font-weight: normal">Tonality</label></h4>
                                                <input type="text" class="form-control" value="{{ phrase.tonality.0 }} {{ phrase.tonality.1 }}"
                                                       id="edit_tonality_input" name="edit_tonality_input">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <div class="form-group">
                                                <h4><label for="edit_instr_input" style="font-weight: normal">Instrument</label></h4>
                                                <select class="form-control" id="edit_instr_input" name="edit_instr_input">
                                                    {% for code, name in {
                                                            32: 'Acoustic Bass',
                                                            33: 'Electric Bass (finger)',
                                                            34: 'Electric Bass (pick)',
                                                            35: 'Fretless Bass',
                                                            36: 'Slap Bass 1',
                                                            37: 'Slap Bass 2',
                                                            38: 'Synth Bass 1',
                                                            39: 'Synth Bass 2'
                                                        }.items()%}
                                                        {% if code == phrase.instr %}
                                                            <option value={{ code }} selected="selected">{{ name }}</option>
                                                        {% else %}
                                                            <option value={{ code }}>{{ name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="form-group">
                                                <h4><label for="edit_used_riffs_input" style="font-weight: normal">Used Riffs</label></h4>
                                                <input type="text" class="form-control" value="{{ phrase.raw_riffs_no }}"
                                                       id="edit_used_riffs_input" name="edit_used_riffs_input">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="form-group">
                                                <h4><label for="edit_arrangements_input" style="font-weight: normal">Arrangements</label></h4>
                                                <input type="text" class="form-control" value="{{ phrase.raw_arrangements }}"
                                                       id="edit_arrangements_input" name="edit_arrangements_input">
                                            </div>
                                        </div>
                                    </div>


                                    <div class="modal-footer">
                                        <div class="btn-group btn-group-justified" role="group" style="margin-top: 20px">
                                        <div class="btn-group btn-group-justified" role="group"
                                            style="padding-left: 25px; padding-right: 15px">
                                           <input class="btn btn-primary" type="submit" value="Save">
                                        </div>
                                        <div class="btn-group btn-group-justified" role="group"
                                            style="padding-left: 15px; padding-right: 25px">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                             </div>
                            </form>

                        </div><!-- /.modal-content -->
                    </div><!-- /.modal -->
                  </div>

            {% endfor %}
                <div class="col-md-3">
                    <div class="panel panel-default" style="min-height:560px; max-height: 560px; overflow: scroll;">
                      <div class="panel-heading">
                          <h3>New Rhythm Bass Phrase</h3>
                      </div>
                      <div class="panel-body">
                          <div style="text-align: center">
                        <p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#new_phrase_modal" role="button"
                                   style="margin-top: 160px; margin-bottom: 160px; text-align: center">Add</button></p></div>
                      </div>
                    </div>
                </div>
            </div>

          <div class="modal fade" id="new_phrase_modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" style="align-content: center">
                    <div class="modal-content" style="align-content: center">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title" id="myModalLabel">New Rhythm Bass Phrase</h3>
                        </div>

                        <form method="post" action="{{ url_for('phrases.new_phrase', phrase_type=phrase_type)}}">
                            <div class="modal-body">

                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="form-group">
                                            <h4><label for="new_length_input" style="font-weight: normal">Length</label></h4>
                                            <input type="text" class="form-control" placeholder="Length"
                                                   id="new_length_input" name="new_length_input">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="form-group">
                                            <h4><label for="new_bpm_input" style="font-weight: normal">BPM</label></h4>
                                            <input type="text" class="form-control" placeholder="BPM"
                                                   id="new_bpm_input" name="new_bpm_input">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="form-group">
                                            <h4><label for="new_tonality_input" style="font-weight: normal">Tonality</label></h4>
                                            <input type="text" class="form-control" placeholder="Tonality"
                                                   id="new_tonality_input" name="new_tonality_input">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="form-group">
                                            <h4><label for="new_instr_input" style="font-weight: normal">Instrument</label></h4>
                                            <select class="form-control" id="new_instr_input" name="new_instr_input">
                                                <option value=32>Acoustic Bass</option>
                                                {% for code, name in {
                                                        33: 'Electric Bass (finger)',
                                                        34: 'Electric Bass (pick)',
                                                        35: 'Fretless Bass',
                                                        36: 'Slap Bass 1',
                                                        37: 'Slap Bass 2',
                                                        38: 'Synth Bass 1',
                                                        39: 'Synth Bass 2'
                                                    }.items()%}
                                                    <option value={{ code }}>{{ name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="form-group">
                                            <h4><label for="new_used_riffs_input" style="font-weight: normal">Used Riffs</label></h4>
                                            <input type="text" class="form-control" placeholder="Used Riffs"
                                                   id="new_used_riffs_input" name="new_used_riffs_input">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <div class="form-group">
                                            <h4><label for="new_arrangements_input" style="font-weight: normal">Arrangements</label></h4>
                                            <input type="text" class="form-control" placeholder="Arrangements"
                                                   id="new_arrangements_input" name="new_arrangements_input">
                                        </div>
                                    </div>
                                </div>


                                <div class="modal-footer">
                                    <div class="btn-group btn-group-justified" role="group">
                                        <div class="btn-group btn-group-justified" role="group"
                                            style="padding-left: 25px; padding-right: 15px">
                                           <input class="btn btn-primary" type="submit" value="Save">
                                        </div>
                                        <div class="btn-group btn-group-justified" role="group"
                                            style="padding-left: 15px; padding-right: 25px">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                         </div>
                        </form>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
              </div>

        </div>
{% endblock %}
