#riff_panel
{
    max-height: 500px;
    overflow: scroll;
}

.form-control
{
    margin-left: 20px;
    margin-right: 20px;
}

button.degree_type_btn {
    height: 30px;
    width: 50px;
    border-radius: 12px;
}